// Container
$container: 1400;
$containerPadding: 40;
$breakpoint1510: 1509.98 + px;
$breakpoint1152: 1151.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
$breakpoint320: 320 + px;

$burgerBgColor: #000000;


$fontSize: 16 + px;